{% extends "base.html" %}

{% block title %}
    Contact
{% endblock %}

{% block styling %}
    <style> 
        
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4 rounded" style="background-color:rgb(212, 212, 212); padding:15px;">
                <h1 class="display-6" style="font-size: 1.5rem;">
                    Contact: +92 323 2120810
                    <br>
                    Email: shahrukhsaleem94@gmail.com
                </h1>
            </div>
        </div>
    </div>
    
{% endblock %}